
.sinfo{
    background: rgba(255, 255, 255, 0.35);
    border-radius: 1em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    opacity: 1;
    background-color: #fff;
    mix-blend-mode: luminosity;
    z-index: 5;
	align-content: center;
  }

  .topinfo{
    margin-right: auto;
    margin-left: auto;
    padding-right: 3em;
    padding-left: 3em;
  }
  #hidwork{
	visibility: hidden;
	clear: both;
	float: left;
	display: none;
  }
  .ninfo{
    background: rgba(43, 216, 216, 0.35);
    border-radius: 1em;
    box-shadow: 0 1px 5px rgba(64, 176, 190, 0.5);
	margin: 1em;
	padding: 1em;
    opacity: 1;
    background-color: #fff;
    mix-blend-mode: luminosity;
    z-index: 5;
	align-content: center;
  }

  .top{
    margin-right: auto;
    margin-left: auto;
    padding-right: 0em;
    padding-left: 0em;
  }

  .vh{
	border-left: 2px solid rgb(59, 173, 147);
	height: 255px;
	margin-left: .5em;
  }
  #work{
	  padding-left: 3em;
  }
  #introw{
	padding:1em;
  }
  #ulnav{
	  padding-left: 6em;
  }
  i, i:hover {
	text-decoration: none;
}
#face{
	color:black;
}

.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fab{
	width: 40px;
    height: 58px;
	color: #000;
	background-color: #FFF;
	border: 1px solid #000;
	padding-top: 5px;
	border-radius: 26px;
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	-o-border-radius: 26px;
}

.socialbtns #face:hover{
	color: #ffffff;
	background-color: #000;
	border: 1px solid #000;
	border-radius: 26px;
}

@media screen and (max-width: 850px) {
	.vh {
	  visibility: hidden;
	  clear: both;
	  float: left;
	  display: none;
	}
	
	.sinfo{
		border-radius: 0;
    box-shadow:none;
    margin-top: 10px;
    opacity: 1;
    background-color: #fff;
    mix-blend-mode: normal;
    z-index: 5;
	}
	#work{
		padding: 0em;
	}
	.ninfo{
		border-radius: 0em;
		font-size: small;
		
    box-shadow: none;
	margin: 0em;
	padding: 0;
    opacity: 1;
    background-color: #fff;
    mix-blend-mode: normal;
    z-index: 5;
	align-content: center;
	}
	#hid{
		visibility: hidden;
	  clear: both;
	  float: left;
	  display: none;
	}
	#introw{
		padding: 0;
	}
	#ulnav{
		padding-left: 0;
	}
  }
